.brunchOutline {
    background-color: lightgreen;
    border: 2px solid black;
    margin: 30px 0px;
    padding: 20px;
}

.brunchOutline h2 {
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.titleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}