.itemContainer {
    background-color: rgb(80, 185, 80);
    padding: 10px 20px;
    margin: 15px 0;
    border: 2px solid black;
}

.itemContainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}