* {
    box-sizing: border-box;
}

.contentWrapper {
    max-width: 870px;
    margin: 0 auto
}

.contentWrapper h1 {
    text-align: center;
}

h1 {
    font-family: 'Lora', serif;
    text-transform: uppercase;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
}